<div class="user-styles pt-3 change-password">
    <div class="row">
        <div class="col-12">
            <h3 class="mb-3">Change Password</h3>
            <p class="change-password-text">Please enter and confirm your new password.</p>
            <div class="account-form d-md-flex my-5">
                <form [formGroup]="changePassForm" #formDir="ngForm" (ngSubmit)="onUpdatePassword()" class="form-inline col-12 col-md-7 px-0">  <label for="existing-password" class="d-block text-right">EXISTING PASSWORD <span              class="red-colored ml-0 mr-2"> *</span></label> <input type="password" formControlName="oldPassword" class=
                        "form-control" id="existing-password">
                    <div class="add-info" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
                        <div *ngIf="oldPassword.errors.required">This field is reqiured</div>
                        <div *ngIf="oldPassword.errors.pattern">Your password must consist of at least 6 characters, with minimum one letter and one digit</div> </div> <label for="new-password" class="d-block text-right">NEW PASSWORD <span class="red-colored ml-0 mr-2">              *</span></label>
                    <input type="password" formControlName="newPassword" class="form-control" id="new-password">
                    <div class="i-info">i</div>
                    <div class="add-info" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                        <div *ngIf="newPassword.errors.required">This field is reqiured</div>
                        <div *ngIf="newPassword.errors.pattern">Your password must consist of at least 6 characters, with minimum one letter and one digit</div> </div> <label class="d-block text-right">PASSWORD STRENGTH: <span class="ml-0 mr-2">            </span></label>
                    <!-- Choose class for span.pass-stength-level for displaying appropriate level of password stength -->
                    <!-- <span class="pass-strength-level pass-not-entered">Password not entered</span> -->
                    <!-- <span class="pass-strength-level pass-weak">Weak<span></span></span> -->
                    <!-- <span class="pass-strength-level pass-ok">OK<span></span></span> --> <span class="pass-strength-level pass-strong">             <app-encapsulated-pass [passwordVal]="passValue"></app-encapsulated-pass>            </span> <label for="confirm-password" class=
                        "d-block text-right">CONFIRM PASSWORD <span class="red-colored ml-0 mr-2">              *</span></label> <input type="password" class="form-control" formControlName="confirmPassword" id="confirm-password">
                    <div class="i-info">i</div>
                    <div class="add-info" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                        <div *ngIf="confirmPassword.errors.required">This field is reqiured</div>
                        <div *ngIf="confirmPassword.errors.pattern">Your password must consist of at least 6 characters, with minimum one letter and one digit</div> </div>
                    <div *ngIf="noPasswordMatch()" class="add-info">Both fields must match</div>
                    <div *ngIf="passwordIsSame()" class="add-info">You are already using this password.</div> <button [disabled]="changePassForm.invalid||noPasswordMatch()||passwordIsSame()" type="submit" class="user-btn my-5">SUBMIT</button> </form>
                <app-user-need-help></app-user-need-help> </div> </div>
        <div class="col-12">
            <app-credit-cards></app-credit-cards> </div> </div>
