
<h2 class="main-heading">FEATURED GAMES</h2>
<div class="row featured-games">
    <div class="col-12 col-sm-6 mb-3 mb-sm-0 featured-game">
        <div class="position-relative"> <img class="img-fluid mw-100"  src="assets/img/Fetaured_Games_Rectangle_Left.jpg"  alt=""> <a [routerLink]="['/games/roaming-reels']"  class="button rectangle-btn">PLAY NOW</a> </div> </div>
    <div
        class="col-12 col-sm-6 featured-game">
        <div class="position-relative"> <img class="img-fluid mw-100"  src="assets/img/Fetaured_Games_Rectangle_Right.jpg"  alt=""> <a [routerLink]="['/games/fishin-frenzy']"  class="button rectangle-btn">PLAY NOW</a> </div> </div></div>
