module.exports = "
<h2 class=\ "main-heading\">FEATURED GAMES</h2>\r\n
<div class=\ "row featured-games\">\r\n
    <div class=\ "col-12 col-sm-6 mb-3 mb-sm-0 featured-game\">\r\n
        <div class=\ "position-relative\">\r\n <img class=\ "img-fluid mw-100\" \r\n src=\ "assets/img/Fetaured_Games_Rectangle_Left.jpg\" \r\n alt=\ "\">\r\n <a [routerLink]=\ "['/games/roaming-reels']\" \r\n class=\ "button rectangle-btn\">PLAY NOW</a>\r\n </div>\r\n </div>\r\n
    <div
        class=\ "col-12 col-sm-6 featured-game\">\r\n
        <div class=\ "position-relative\">\r\n <img class=\ "img-fluid mw-100\" \r\n src=\ "assets/img/Fetaured_Games_Rectangle_Right.jpg\" \r\n alt=\ "\">\r\n <a [routerLink]=\ "['/games/fishin-frenzy']\" \r\n class=\ "button rectangle-btn\">PLAY NOW</a>\r\n </div>\r\n </div>\r\n</div>\r\n"