<!-- Contact -->
<div class="container content-wrapper">
  <div class="row contact-us">
    <div class="col-12">
      <h2 class="main-heading">CONTACT US</h2>
      <p> Contact Live! Casino<br><br><br> If you have any enquiries about your Live! Casino account, please contact
        us at <a href="mailto:support@livecasino.social">support@livecasino.social</a> quoting your player ID, name
        and email
        address.<br><br><br> One of our friendly Customer Service Team Member will be back in contact with you as
        soon as possible.</p>
    </div>
  </div>
  <!-- Credit Cards -->
  <app-credit-cards></app-credit-cards>
</div>
