module.exports = "
<!-- Contact -->\r\n
<div class=\ "container content-wrapper\">\r\n
    <div class=\ "row contact-us\">\r\n
        <div class=\ "col-12\">\r\n
            <h2 class=\ "main-heading\">CONTACT US</h2>\r\n\r\n
            <p> Contact Live! Casino<br><br><br>\r\n If you have any enquiries about your Live! Casino account, please contact us at\r\n <a href=\ "mailto:support@livecasino.social\">support@livecasino.social</a> quoting your player ID, name and email\r\n
                address.<br><br><br>\r\n One of our friendly Customer Service Team Member will be back in contact with you as soon as\r\n possible.</p>\r\n </div>\r\n\r\n\r\n </div>\r\n
    <!-- Credit Cards -->\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n\r\n\r\n\r\n\r\n\r\n"