
<div class="container content-wrapper">
    <div class="row slots">
        <div class="col-12">
            <h2 class="main-heading">WELCOME TO LIVE! <span class="mobile-hide">SOCIAL CASINO</span><span class="tablet-hide">, WHERE WE ARE          ALWAYS ON!</span></h2> </div>
        <!-- Slots game big -->
        <div class="slots-game-big col-12 d-flex justify-content-between pt-1 pb-4"> <img class="img-fluid"  src="assets/img/VIP_GAME_Sign_Up_Rectangle3.jpg"  alt="VIP_GAME"> <a [routerLink]="['../games/china-shores']"  class="button rectangle-btn">         LEARN MORE      </a> </div>

        <div class="col-12">
            <h2 class="main-heading">SLOTS</h2>
            <p>Crazy about free online slots? Live! Casino has a range of world exclusive slots straight from the casino floor. Whether you have a favourite, can’t make it to the casino or want to try new slots, we have a huge range. We update new
                games online every month so make sure you come back and be one of the first to try!</p> </div>
        <div class="col-12">
            <div class="slots-menu">
                <ul class="d-flex text-center w-100">
                    <li [ngClass]="{'active': filterGroup=='all'}"><a (click)="filterSlots('all')">ALL</a></li>
                    <li [ngClass]="{'active': filterGroup=='new'}"><a (click)="filterSlots('new')">NEW</a></li>
                    <li [ngClass]="{'active': filterGroup=='0'}"><a (click)="filterSlots('0')">1-10 Lines</a></li>
                    <li [ngClass]="{'active': filterGroup=='10'}"><a (click)="filterSlots('10')">10-20 Lines</a></li>
                    <li [ngClass]="{'active': filterGroup=='20'}"><a (click)="filterSlots('20')">20+ Lines</a></li> </ul> </div> </div>
        <!-- Slots game box -->
        <div class="slots-games-box col-12 py-1">
            <div class="row"> <a *ngFor="let slot of allSlots | gamelinesfilter:filterArgs" class="col-6 col-sm-3 single-slot vip-star" [ngClass]="{'new-label': slot.isNewGame, 'vip-star': slot.isVipGame}" [routerLink]=
                    "['/games/', slot.routeLink]">        <img class="img-fluid"             [src]="slot.image"            alt="VIP_GAME">          <div class="black-label red-label">{{ slot.name }}</div>        </a> </div> </div>
        </div>
    <!-- Credit Cards -->
    <app-credit-cards></app-credit-cards></div>
