
<div class= "px-3">
    <div class= "tournaments-see-more col-12">
        <div class= "single-tournament row" *ngFor= "let relatedTournament of tournament.relatedTournaments"> <img [src]= "relatedTournament.tournamentImage" alt= ""  class= "col-12 col-md-6 pr-sm-0 p-0">
            <div class= "single-tour-info col-12 col-md-6 px-3 py-2 text-center text-sm-left">
                <h5>TOURNAMENT ID: <span class= "tournament-id">{{ relatedTournament.id }}</span></h5>
                <div class= "d-flex flex-column flex-sm-row text-center text-sm-left justify-content-between">
                    <div>
                        <p>Entry Cost <span class= "entry-cost">{{ relatedTournament.entryCost | number }}</span></p>
                        <p>Prize Pool <span class= "prize-pool">{{ relatedTournament.prizePool | number }}</span></p>
                        <p>Players Joined: <span class= "players-joined">{{ relatedTournament.playersJoined }}/10</span></p> </div> <button class= "enter-btn">ENTER</button> </div> </div> </div> </div> </div>
