
<div class="container content-wrapper">
    <div class="row promotions-preview">
        <div class="col-12">
            <h2 class="main-heading">PROMOTIONS</h2> </div>
        <div class="col-12 pt-1 pb-3"> <img class="img-fluid" [src]="selectedPromotion.image" alt="VIP_GAME">
            <div class="arrow-btn text-center">
                <!-- <a href="javascript:void(0)" class="button mx-auto d-flex justify-content-center align-items-center">MORE INFO<span            class="arrow d-flex justify-content-center align-items-center">❯</span>        </a> --> </div> </div>
        <div class="col-12 pt-1 pb-3">
            <h4>{{selectedPromotion.title}}</h4>
            <p>{{selectedPromotion.description}}</p> <a class="rectangle-btn mx-auto d-block my-4" [routerLink]="['/buy-credits']">BUY CREDITS</a> </div> </div>
    <app-credit-cards></app-credit-cards></div>
