module.exports = "
<div class=\ "container content-wrapper\">\r\n
    <div class=\ "row promotions-preview\">\r\n
        <div class=\ "col-12\">\r\n
            <h2 class=\ "main-heading\">PROMOTIONS</h2>\r\n </div>\r\n
        <div class=\ "col-12 pt-1 pb-3\">\r\n <img class=\ "img-fluid\" [src]=\ "selectedPromotion.image\" alt=\ "VIP_GAME\">\r\n
            <div class=\ "arrow-btn text-center\">\r\n
                <!-- <a href=\"javascript:void(0)\" class=\"button mx-auto d-flex justify-content-center align-items-center\">MORE INFO<span\r\n            class=\"arrow d-flex justify-content-center align-items-center\">❯</span>\r\n        </a> -->\r\n </div>\r\n </div>\r\n
        <div class=\ "col-12 pt-1 pb-3\">\r\n
            <h4>{{selectedPromotion.title}}</h4>\r\n\r\n
            <p>{{selectedPromotion.description}}</p>\r\n\r\n\r\n\r\n <a class=\ "rectangle-btn mx-auto d-block my-4\" [routerLink]=\ "['/buy-credits']\">BUY CREDITS</a>\r\n\r\n\r\n </div>\r\n </div>\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n"