.content-wrapper {
  padding: 21px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.66);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.66);
  background-color: #ffffff;
}

.arrow-btn {
  position: absolute;
  bottom: 14px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  white-space: nowrap;
}
.arrow-btn .button {
  font-family: "Helvetica Neue LT W05 95 Black";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: black;
  bottom: 10px;
  background-color: #fdb900;
  padding: 0 25px;
  line-height: 42px;
  border-radius: 21px;
  font-size: 22px;
}
.arrow-btn .button .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.black-label {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
  margin-bottom: 14px;
}

.red-label {
  background-color: #ff0000;
  line-height: 30px;
  height: 30px;
}

.img-fluid {
  min-width: 100%;
}

.i-info {
  position: relative;
  top: -7px;
  left: 17px;
  min-width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #000000;
  font-size: 17px;
  line-height: 21px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}
.i-info:hover + .i-add-info {
  opacity: 1;
  display: block;
}

.i-add-info {
  display: none;
  opacity: 0;
}

.pagination-wrapper span {
  font-size: 15px;
}
.pagination-wrapper .pagination {
  border: 0;
}
.pagination-wrapper .pagination .page-item .page-link {
  border: none;
  color: #ff0000;
  text-decoration: underline;
  font-size: 15px;
}
.pagination-wrapper .pagination .page-item.active {
  background: none;
}
.pagination-wrapper .pagination .page-item.active .page-link {
  background: none;
  color: #000000;
}

.live-pagination .ngx-pagination li {
  border: none;
  color: #ff0000;
  text-decoration: underline;
  font-size: 16px;
  border: 1px solid #ff0000;
  margin-right: 8px;
  text-decoration: none;
}
.live-pagination .ngx-pagination li.current {
  background: #ff0000;
  color: #ffffff;
  padding: 0.5rem 0.75rem;
  line-height: 1;
}
.live-pagination .ngx-pagination li.current .page-link {
  background: none;
  color: #000000;
}
.live-pagination .ngx-pagination li.disabled {
  display: none;
}
.live-pagination .ngx-pagination li a {
  padding: 0.5rem 0.75rem;
  line-height: 1;
}
.live-pagination .ngx-pagination li a:before, .live-pagination .ngx-pagination li a:after {
  display: none;
}
.live-pagination .ngx-pagination li > span:not(:first-child) {
  line-height: 1;
}

button[disabled=""],
a.button[disabled=""] {
  opacity: 0.6;
}

button:hover,
a.button:hover, button:not(.close-btn):hover {
  box-shadow: inset 0 0 0 999px rgba(0, 0, 0, 0.2);
}

button:active,
a.button:active {
  transform: translateY(1px);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

button:focus,
a.button:focus {
  outline: none;
}

button[disabled=""]:hover,
a.button[disabled]:hover, button.close-btn:hover, button.l-r-arrows:hover {
  box-shadow: none;
}

a.button:hover, a.red-colored:hover, a.red-colored:active {
  color: initial;
}

a.a-modal {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .tablet-hide {
    display: none;
  }

  .black-label {
    font-size: 14px;
    line-height: 30px;
  }

  .red-label {
    padding: 0 5px;
  }
}
@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 20px;
    line-height: 36px;
  }

  .content-wrapper {
    padding: 12px 12px 21px 12px;
  }

  .mobile-hide {
    display: none;
  }
}
footer {
  padding: 40px 21px;
  border-top: 2px solid #ff0000;
  position: relative;
}
footer .row:first-of-type {
  margin-bottom: 50px;
}
footer .row > .col-3,
footer .row > .col-4 {
  padding: 0 42px;
}
footer .footer-logo {
  height: 58px;
  margin-bottom: 21px;
}
footer .footer-logo + p {
  font-size: 13px;
  margin-bottom: 20px;
}
footer p {
  font-size: 12px;
  margin: 0;
}
footer h5 {
  margin-bottom: 14px;
  font-family: "Helvetica Neue LT W05_75 Bold";
  font-size: 13px;
}
footer ul li {
  padding: 3px 0;
}
footer ul li a {
  color: #000000;
  font-size: 13px;
}
footer ul li a:hover {
  color: #8b8b8b;
}
footer .hosted-n-age span {
  font-family: "Helvetica Neue LT W05 96 Blk It";
  font-size: 18px;
}
footer .hosted-n-age .age:before {
  display: inline-block;
  font-family: "Helvetica Neue LT W05 95 Black";
  font-size: 21px;
  content: "21";
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
  margin-right: 10px;
  padding-left: 2px;
}
footer .text-center {
  font-family: "Helvetica Neue LT W05 76 Bd It";
  line-height: 1;
}
footer .text-center a {
  color: #ff0000;
  font-size: 13px;
  text-decoration: underline;
}
footer:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background-color: white;
  top: -12px;
  left: 0;
  z-index: 990;
}

@media screen and (max-width: 767px) {
  footer .footer-menu {
    text-align: right;
  }
  footer .hosted-n-age {
    margin: 0 auto;
  }
  footer .hosted-n-age span {
    font-size: 17px;
    width: 50%;
    text-align: right;
    padding: 1rem;
  }
  footer .hosted-n-age span:last-of-type {
    text-align: left;
    padding-right: 0;
  }
  footer .hosted-n-age span:last-of-type.age:before {
    margin-right: 6px;
    text-align: center;
  }
}