module.exports = "
<div class=\ "container content-wrapper\">\r\n
    <div class=\ "row spin-wheel\">\r\n
        <div class=\ "col-12\">\r\n
            <h2 class=\ "main-heading\">SPIN WHEEL</h2>\r\n </div>\r\n
        <!-- spin-wheel -->\r\n
        <div class=\ "col-12 pt-1 mb-3\">\r\n <a href=\ "javascript:void(0)\"><img class=\"img-fluid\" src=\"assets/img/Tables_GAME_Rectangle_wheel.jpg\" alt=\"Spin Wheel\"></a>\r\n </div>\r\n\r\n </div>\r\n
    <!-- Credit Cards -->\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n"