<main class="container content-wrapper home-page\">
    <!-- Top Zone -->
    <div class="row top-zone\">
        <div class="col-12\">
            <h2 class="main-heading\">WELCOME TO LIVE! <span class="mobile-hide\">SOCIAL CASINO</span><span class="tablet-hide\">, WHERE WE ARE ALWAYS ON!</span></h2> </div>
        <!-- Carousel -->
        <div class="col-12 col-md-8 mb-4 mb-md-0\">
            <app-home-carousel></app-home-carousel> </div>
        <!-- Latest Winners -->
        <div class="col-12 col-md-4 pl-md-0\">
            <app-home-latest-winners></app-home-latest-winners> </div> </div>
    <!-- Middle Zone -->
    <div class="row\">
        <!-- Suggested For You -->
        <div class="col-12 col-lg-4 mb-1\">
            <app-home-suggested></app-home-suggested> </div>
        <!-- Featured Games & Leaderboards -->
        <div class="col-12 col-lg-8 pl-lg-0\">
            <app-home-featured-games></app-home-featured-games>
            <!-- Leaderboards -->
            <app-home-leaderboards></app-home-leaderboards> </div> </div>
    <!-- Bottom Zone -->
    <!-- Slots -->
    <app-home-slots></app-home-slots>
    <!-- Credit Cards -->
    <app-credit-cards></app-credit-cards></main>
