<div class="history-box w-100 col-12">
    <div class= "d-flex justify-content-between align-items-center mb-3">
        <h4 class= "mb-0">Tournament history</h4> <a (click)= "backClick()">      <button class="rectangle-btn position-static ">BACK</button></a> </div>
    <div class= "table-responsive">
        <table class= "table text-left user-table">
            <thead class= "">
                <tr>
                    <th scope= "col">ID</th>
                    <th scope= "col">NAME</th>
                    <th scope= "col">START TIME</th>
                    <th scope= "col">END TIME</th>
                    <th scope= "col">STATUS</th> </tr> </thead>
            <tbody>
                <tr *ngIf= "tournamentsHistory.length===0">
                    <!-- no-tournament-history td -->
                    <td colspan= "5">There is no tournament history.</td> </tr>
                <tr *ngFor= "let tourHistory of tournamentsHistory | paginate: config">
                    <td>{{ tourHistory.id }}</td>
                    <td>{{ tourHistory.tournamentInfo }}</td>
                    <td>{{ tourHistory.date | date: 'MM-dd-yyyy hh:mm:ss z' }}</td>
                    <td> </td>
                    <td><a href= "javascript:void(0)">{{ tourHistory.tournamentStatus }}</a></td> </tr> </tbody> </table> </div>
    <pagination-controls [id]= "config.id" (pageChange)= "pageChanged($event)" [maxSize]=
        "maxSize" [directionLinks]= "directionLinks" [autoHide]= "autoHide" [responsive]=
      "responsive" class= "live-pagination" previousLabel= "Previous" nextLabel= "Next" screenReaderPaginationLabel= "Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel= "You're on page"> </pagination-controls>
        <p class= "tournaments-history-text">
          Tournaments are set to auto-complete once all positions have set a score or 24 hours after the
          first entry is placed. If not all positions within a tournament have been filled after the 24
          hour period then prizes will be paid at a
            percentage of the total prize pot, dependent on the number of entrants.</p>
</div>
