<div class="container content-wrapper">
  <div class="row promotions">
    <div class="col-12">
      <h2 class="main-heading">PROMOTIONS</h2>
    </div>
    <!-- promotions -->
    <div class="col-12 pt-1 mb-3"> <img class="img-fluid" src="assets/img/Tables_GAME_Rectangle.jpg"
        alt="VIP_GAME">
      <form [formGroup]="codeSubmit" #formDir="ngForm" (ngSubmit)="onCodeSubmit()"
        class="insert-code-form d-flex flex-column flex-sm-row flex-md-column align-items-center justify-content-center">
        <input type="text" required formControlName="promocode"
          class="form-control mb-sm-0 mb-md-2 text-center" placeholder="INSERT YOUR CODE">
        <div class="arrow-btn text-center mx-2 mx-md-auto"> <button [disabled]="codeSubmit.invalid"
            type="submit" class="button mx-auto d-flex justify-content-center align-items-center">SUBMIT<span
              class="arrow d-flex justify-content-center align-items-center">❯</span> </button>
        </div>
      </form>
    </div>
    <div class="col-12 pt-1 mb-3" *ngFor="let promotion of allPromotions"> <a
        [routerLink]="['/promotion/', promotion.routeLink]"> <img class="img-fluid" [src]="promotion.image"
          alt="VIP_GAME"></a>
      <div class="arrow-btn text-center"> <a [routerLink]="['/promotion/', promotion.routeLink]"
          class="button mx-auto d-flex justify-content-center align-items-center">MORE INFO<span class="arrow d-flex
            justify-content-center align-items-center">❯</span> </a>
      </div>
    </div>
  </div>
  <!-- Credit Cards -->
  <app-credit-cards></app-credit-cards>
</div>
