<form [formGroup]= "creditCardForm" #formDir= "ngForm" (ngSubmit)= "onCardDetailsUpdate()" class= "form-inline"> <label class= "d-block text-right">CARD TYPE <span class="red-colored ml-0 mr-2"> *</span></label>
    <div class= "card-types">
        <div *ngFor= "let ctype of cardTypes; let cardIndex = index" class= "custom-control custom-radio w-50" [ngClass]= "{'mr-2': cardIndex%2!==0, 'mr-n2': cardIndex%2===0}"> <input type= "radio" [id]= "ctype" [value]= "ctype" formControlName= "type" class= "custom-control-input"> <label class= "custom-control-label" [for]= "ctype">{{ctype}}</label> </div> </div> <label for=
        "name-on-card" class= "d-block text-right">NAME ON CARD <span class="red-colored ml-0 mr-2">        *</span></label> <input type= "text" class= "form-control" formControlName= "nameOnCard" id= "name-on-card">
    <div class= "add-info" *ngIf=
        "nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)">
        <div *ngIf= "nameOnCard.errors.required">This field is reqiured</div>
        <div *ngIf= "nameOnCard.errors.minlength">The minimum length is 3 characters</div>
        <div *ngIf= "nameOnCard.errors.minlength">Please enter only alphabetic characters</div> </div> <label for= "card-number" class= "d-block text-right">CARD NUMBER <span class="red-colored ml-0 mr-2">        *</span></label> <input type= "number" class=
        "form-control" formControlName= "cardNumber" id= "card-number">
    <div class= "add-info" *ngIf= "cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)">
        <div *ngIf= "cardNumber.errors.required">This field is reqiured</div>
        <div *ngIf= "cardNumber.errors.pattern">Please enter exactly 16 characters</div> </div>
    <div class= "add-info" *ngIf= "(cardNumber.dirty || cardNumber.touched) && creditCardForm.errors?.creditCard">
        <div>Credit Card Number is not correct</div> </div> <label for= "expiry-date" class= "d-block text-right">EXPIRY DATE <span class="red-colored ml-0 mr-2">        *</span></label> <select formControlName= "expMonth" class=
        "form-control" id= "expMonth">        <option value="" [selected]="!expMonth.value">Month</option>      <option *ngFor="let month of monthsList" [value]="month" [selected]="month == expMonth.value">{{month}}</option>    </select>
    <select
        formControlName= "expYear" class= "form-control" id= "expYear">
        <option value= "" [selected]= "!expYear.value">Year</option>
        <option *ngFor= "let year of yearsList" [value]= "year" [selected]= "year == expYear.value">{{year}}</option> </select>
        <div class= "add-info" *ngIf= "expMonth.invalid && (expMonth.dirty || expMonth.touched) || expYear.invalid && (expYear.dirty || expYear.touched)">
            <div>This fields are reqiured</div> </div>  <label for= "cv23" class= "d-block text-right">CV2/3 <span class="red-colored ml-0 mr-2">        *</span>      <span class="i-info">i</span>      <span class="i-add-info">        <img src="../../../../../assets/img/security-code.png" alt="">      </span>    </label>
        <input type= "text" formControlName= "cv23" class= "form-control" id= "cv23">
        <div class= "add-info" *ngIf= "cv23.invalid && (cv23.dirty || cv23.touched)">
            <div *ngIf= "cv23.errors.required">This field is reqiured</div>
            <div *ngIf= "cv23.errors.pattern">CCV Number is not correct</div> </div> <label for= "nickname" class= "d-block text-right">SAVE THIS CARD AS (NICKNAME) <span        class="red-colored ml-0 mr-2">        *</span></label> <input type= "text"
            formControlName= "nickname" class= "form-control" id= "nickname">
        <div class= "add-info" *ngIf= "nickname.invalid && (nickname.dirty || nickname.touched)">
            <div *ngIf= "nickname.errors.required">This field is reqiured</div>
            <div *ngIf= "nickname.errors.minLength">The minimum length is 4 characters</div> </div>
        <div class= "btns-box my-5"> <button class= "user-btn d-inline mr-2" type= "button" (click)= "stepBack()">BACK</button> <button class= "user-btn d-inline" type= "submit" [disabled]= "creditCardForm.invalid">NEXT</button> </div> </form>
