<div class="user-styles pt-3 message-details">
    <div class="row">
        <div class="col-12 mb-4">
            <h3 class="mb-2">My Messages</h3>
            <!-- Class "messages-content" for display messages if there are some -->
            <div class="row messages-content">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive mb-2">
                                <table class="table table-borderless messages-table mb-2">
                                    <thead>
                                        <tr>
                                            <th scope="col">DATE</th>
                                            <th scope="col">SUBJECT</th>
                                            <th scope="col"><button [routerLink]="['/user/account-messages']" class="rectangle-btn">BACK</button></th> </tr> </thead>
                                    <tbody>
                                        <tr>
                                            <td>06-20-2019 - 08:18:14 EDT</td>
                                            <td colspan="2" [routerLink]="['/user/message-details']">A SLOTS TOURNAMENT YOU ENTERED HAS COMPLETED - CHECK YOUR POSITION!</td> </tr> </tbody> </table> </div> </div> </div> <img src=
                        "../../../../../assets/img/message-details.jpg" alt="" class="img-fluid mb-4">
                    <p class="position-relative pr-5">The results for <span class="game-name">King & Queen - $27,000 - 10 Players - 53948</span> are in... You came <span class="result-position">5</span>th.<span class="remove-msg"></span></p>
                    <p>Go to the <a href="javascript:void(0)" class="red-colored">Tournament History page</a> to see more details.</p>
                    <p>All the best,</p>
                    <p>Ryan Anderson<br>Online Tournament Manager</p> </div> </div> </div> </div>
    <app-credit-cards></app-credit-cards></div>
