module.exports = "
<div class=\ "user-styles pt-3 message-details\">\r\n
    <div class=\ "row\">\r\n\r\n
        <div class=\ "col-12 mb-4\">\r\n
            <h3 class=\ "mb-2\">My Messages</h3>\r\n\r\n
            <!-- Class \"messages-content\" for display messages if there are some -->\r\n
            <div class=\ "row messages-content\">\r\n
                <div class=\ "col-12\">\r\n\r\n
                    <div class=\ "row\">\r\n
                        <div class=\ "col-12\">\r\n
                            <div class=\ "table-responsive mb-2\">\r\n
                                <table class=\ "table table-borderless messages-table mb-2\">\r\n
                                    <thead>\r\n
                                        <tr>\r\n
                                            <th scope=\ "col\">DATE</th>\r\n
                                            <th scope=\ "col\">SUBJECT</th>\r\n
                                            <th scope=\ "col\"><button [routerLink]=\ "['/user/account-messages']\"\r\n class=\ "rectangle-btn\">BACK</button></th>\r\n </tr>\r\n </thead>\r\n
                                    <tbody>\r\n
                                        <tr>\r\n
                                            <td>06-20-2019 - 08:18:14 EDT</td>\r\n
                                            <td colspan=\ "2\" [routerLink]=\ "['/user/message-details']\">A SLOTS TOURNAMENT YOU ENTERED HAS\r\n COMPLETED - CHECK YOUR POSITION!</td>\r\n\r\n </tr>\r\n </tbody>\r\n </table>\r\n </div>\r\n\r\n </div>\r\n </div>\r\n\r\n <img src=\
                        "../../../../../assets/img/message-details.jpg\" alt=\ "\" class=\ "img-fluid mb-4\">\r\n
                    <p class=\ "position-relative pr-5\">The results for <span class=\ "game-name\">King & Queen - $27,000 - 10 Players - 53948</span> are in... You\r\n came <span class=\ "result-position\">5</span>th.<span class=\ "remove-msg\"></span></p>\r\n
                    <p>Go to the <a href=\ "javascript:void(0)\" class=\ "red-colored\">Tournament History page</a> to see more details.</p>\r\n
                    <p>All the best,</p>\r\n
                    <p>Ryan Anderson<br>Online Tournament Manager</p>\r\n </div>\r\n </div>\r\n </div>\r\n\r\n\r\n </div>\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n"