<div class="credit-cards m-auto d-flex justify-content-between pt-5\">
    <div class="credit-card\"> <img src="assets/img/Credit_Card_Rectangle.jpg\" alt="\"> </div>
    <div class="credit-card\"> <img src="assets/img/Credit_Card_Rectangle_2.jpg\" alt="\"> </div>
    <div class="credit-card\"> <img src="assets/img/Credit_Card_Rectangle_3.jpg\" alt="\"> </div>
    <div class="credit-card\"> <img src="assets/img/Credit_Card_Rectangle_4.jpg\" alt="\"> </div>
    <div class="credit-card\"> <img src="assets/img/Credit_Card_Rectangle_5.jpg\" alt="\"> </div>
</div>
