module.exports = "
<div id=\ "welcome-corousel\" class=\ "carousel slide\" data-ride=\ "carousel\">\r\n
    <ol class=\ "carousel-indicators\">\r\n
        <li data-target=\ "#welcome-corousel\" data-slide-to=\ "0\" class=\ "active\"></li>\r\n
        <li data-target=\ "#welcome-corousel\" data-slide-to=\ "1\"></li>\r\n
        <li data-target=\ "#welcome-corousel\" data-slide-to=\ "2\"></li>\r\n </ol>\r\n
    <div class=\ "carousel-inner\">\r\n
        <div class=\ "carousel-item active\">\r\n <img class=\ "img-fluid mw-100\" src=\ "assets/img/WELCOME_Bonus_Sign_Up_Rectangle.png\" class=\ "d-block w-100\"\r\n alt=\ "...\">\r\n </div>\r\n
        <div class=\ "carousel-item\">\r\n <img class=\ "img-fluid mw-100\" src=\ "assets/img/WELCOME_Bonus_Sign_Up_Rectangle.png\" class=\ "d-block w-100\"\r\n alt=\ "...\">\r\n </div>\r\n
        <div class=\ "carousel-item\">\r\n <img class=\ "img-fluid mw-100\" src=\ "assets/img/WELCOME_Bonus_Sign_Up_Rectangle.png\" class=\ "d-block w-100\"\r\n alt=\ "...\">\r\n </div>\r\n
        <div class=\ "arrow-btn text-center\">\r\n <a [routerLink]=\ "[ {outlets: { modal: 'signup' } } ]\" \r\n class=\ "button mx-auto d-flex justify-content-center align-items-center\">SIGN\r\n                UP<span class=\"arrow d-flex justify-content-center align-items-center\">\r\n                ❯</span>\r\n            </a>\r\n
            </div>\r\n </div>\r\n</div>\r\n"