module.exports = "
<div class=\ "modal-bg h-100 w-100 login\">\r\n
    <div class=\ "modal-wrapper\">\r\n
        <h4>Forgot Password</h4>\r\n <button class=\ "close-btn\" (click)=\ "closeMe()\">X</button>\r\n
        <div class=\ "modal-main d-flex flex-column justify-content-between\">\r\n
            <form [formGroup]=\ "authForm\" #formDir=\ "ngForm\" (ngSubmit)=\ "onReset()\">\r\n <input type=\ "text\" appAutofocus placeholder=\ "Your email address\" required formControlName=\ "email\" name=\ "email\" class=\ "form-control\" class=\ "red-underlined-input\">\r\n <button type=\ "submit\" class=\
                    "red-modal-btn w-75 mb-3\" [disabled]=\ "authForm.invalid\">RESET</button>\r\n </form>\r\n
            <p class=\ "mb-0 mt-auto\"><a (click)=\ "signIn()\" class=\ "a-modal\">Back to Login</a></p>\r\n
            <p class=\ "mb-0 mt-auto\">Not registered? <a (click)=\ "signUpNow()\" class=\ "a-modal\">Sign up now</a></p>\r\n </div>\r\n </div>\r\n\r\n </div>\r\n"