<div class="user-styles pt-3 account-wagers">
    <div class="row">
        <div class="col-12 mb-4">
            <h3 class="mb-3">Wagers</h3>
            <p class="mb-2 wagers-text">Every session playing Casino Table Games, Casino Slots, Poker and Skill Games. See how you did, here.</p>
            <!-- Class "wagers-content" for display wagers if there are some -->
            <div class="row wagers-content">
                <div class="col-12">
                    <table class="table table-borderless wager-table w-100 mb-2">
                        <thead>
                            <tr>
                                <th scope="col">Everi Slots</th>
                                <th scope="col">2,790</th> </tr> </thead>
                        <tbody>
                            <tr>
                                <td>Description:</td>
                                <td>Black Diamond</td> </tr>
                            <tr>
                                <td>My Winnings:</td>
                                <td>-1,420</td> </tr>
                            <tr>
                                <td>06-20-2019 - 08:18:14 EDT</td>
                                <td><a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/user/wager-details']">Full Wager Details</a></td> </tr> </tbody> </table>
                    <table class=
                        "table table-borderless wager-table w-100 mb-2">
                        <thead>
                            <tr>
                                <th scope="col">Everi RGS Slots</th>
                                <th scope="col">1,600</th> </tr> </thead>
                        <tbody>
                            <tr>
                                <td>Description:</td>
                                <td>Shamrock Spin</td> </tr>
                            <tr>
                                <td>My Winnings:</td>
                                <td>-1,600</td> </tr>
                            <tr>
                                <td>06-20-2019 - 08:18:14 EDT</td>
                                <td><a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/user/wager-details']">Full Wager Details</a></td> </tr> </tbody> </table>
                    <div class="pagination-wrapper mt-4"> <span>Page</span>
                        <nav aria-label="..." class="d-inline-block ml-5">
                            <ul class="pagination pagination-sm">
                                <li class="page-item disabled"> <span class="page-link">Previous</span> </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                                <li class="page-item active" aria-current="page"> <span class="page-link">                    2                    <span class="sr-only">(current)</span> </span> </li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                                <li class="page-item"> <a class="page-link" href="javascript:void(0)">Next</a> </li> </ul> </nav> </div> </div> </div> </div>
        <!-- Class "no-wagers" for no wagers to display -->
        <div class="no-wagers col-12 mb-5">
            <div>NO WAGERS TO DISPLAY</div></div> </div>
    <app-credit-cards></app-credit-cards></div>
