module.exports = "
<div class=\ "user-styles pt-3 account-wagers\">\r\n
    <div class=\ "row\">\r\n\r\n
        <div class=\ "col-12 mb-4\">\r\n
            <h3 class=\ "mb-3\">Wagers</h3>\r\n
            <p class=\ "mb-2 wagers-text\">Every session playing Casino Table Games, Casino Slots, Poker and Skill Games. See how you did,\r\n here.</p>\r\n
            <!-- Class \"wagers-content\" for display wagers if there are some -->\r\n
            <div class=\ "row wagers-content\">\r\n
                <div class=\ "col-12\">\r\n
                    <table class=\ "table table-borderless wager-table w-100 mb-2\">\r\n
                        <thead>\r\n
                            <tr>\r\n
                                <th scope=\ "col\">Everi Slots</th>\r\n
                                <th scope=\ "col\">2,790</th>\r\n </tr>\r\n </thead>\r\n
                        <tbody>\r\n
                            <tr>\r\n
                                <td>Description:</td>\r\n
                                <td>Black Diamond</td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>My Winnings:</td>\r\n
                                <td>-1,420</td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>06-20-2019 - 08:18:14 EDT</td>\r\n
                                <td><a href=\ "javascript:void(0)\" routerLinkActive=\ "active\" [routerLink]=\ "['/user/wager-details']\">Full Wager Details</a></td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n
                    <table class=\
                        "table table-borderless wager-table w-100 mb-2\">\r\n
                        <thead>\r\n
                            <tr>\r\n
                                <th scope=\ "col\">Everi RGS Slots</th>\r\n
                                <th scope=\ "col\">1,600</th>\r\n </tr>\r\n </thead>\r\n
                        <tbody>\r\n
                            <tr>\r\n
                                <td>Description:</td>\r\n
                                <td>Shamrock Spin</td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>My Winnings:</td>\r\n
                                <td>-1,600</td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>06-20-2019 - 08:18:14 EDT</td>\r\n
                                <td><a href=\ "javascript:void(0)\" routerLinkActive=\ "active\" [routerLink]=\ "['/user/wager-details']\">Full Wager Details</a></td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n\r\n
                    <div class=\ "pagination-wrapper mt-4\">\r\n <span>Page</span>\r\n
                        <nav aria-label=\ "...\" class=\ "d-inline-block ml-5\">\r\n
                            <ul class=\ "pagination pagination-sm\">\r\n
                                <li class=\ "page-item disabled\">\r\n <span class=\ "page-link\">Previous</span>\r\n </li>\r\n
                                <li class=\ "page-item\"><a class=\ "page-link\" href=\ "javascript:void(0)\">1</a></li>\r\n
                                <li class=\ "page-item active\" aria-current=\ "page\">\r\n <span class=\ "page-link\">\r\n                    2\r\n                    <span class=\"sr-only\">(current)</span>\r\n </span>\r\n </li>\r\n
                                <li class=\ "page-item\"><a class=\ "page-link\" href=\ "javascript:void(0)\">3</a></li>\r\n
                                <li class=\ "page-item\">\r\n <a class=\ "page-link\" href=\ "javascript:void(0)\">Next</a>\r\n </li>\r\n </ul>\r\n </nav>\r\n </div>\r\n </div>\r\n </div>\r\n </div>\r\n
        <!-- Class \"no-wagers\" for no wagers to display -->\r\n
        <div class=\ "no-wagers col-12 mb-5\">\r\n
            <div>NO WAGERS TO DISPLAY</div>\r\n</div>\r\n </div>\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n"