module.exports = "
<h2 class=\ "main-heading\">SUGGESTED FOR YOU</h2>\r\n
<div class=\ "suggested-all row\">\r\n
    <div class=\ "col-12 col-sm-6 col-lg-12 p-0 m-0\">\r\n
        <div class=\ "suggested-game col-12\"\r\n *ngFor=\ "let game of this.suggestedGames | slice:0:5;\">\r\n <a [routerLink]=\ "['/games/', game.routeLink]\">\r\n                <img [src]=\"game.image\" \r\n                     alt=\"gametype1\" \r\n                     class=\"img-fluid mw-100\">\r\n            </a>\r\n
            <div class=\
                "black-label\">{{ game.name }}</div>\r\n </div>\r\n </div>\r\n
    <div class=\ "col-12 col-sm-6 col-lg-12 p-0 mb-3 m-0 mb-sm-0 \">\r\n <img src=\ "assets/img/Daily_Login_Bonus_Rectangle.jpg\" \r\n class=\ "img-fluid col-12\"\r\n alt=\ "\">\r\n </div>\r\n</div>\r\n\r\n "