<div class="container content-wrapper">
  <div class="mb-5">
    <h2 class="main-heading">LEADERBOARDS</h2>
  </div>
  <div class="leaderboards">
    <app-table-slot-challange></app-table-slot-challange>
    <!-- <nav aria-label="">            <ul class="pagination">              <li class="page-item mr-2 active"><a class="page-link" href="javascript:void(0)">1</a></li>              <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">2</a></li>              <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">3</a></li>              <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">100</a></li>              <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">Next</a></li>            </ul>          </nav> -->
  </div>
  <!-- Credit Cards -->
  <app-credit-cards></app-credit-cards>
</div>
