<div class="user-styles pt-3 account-history">
    <div class="row">
        <div class="col-12 mb-5">
            <h3 class="mb-3">Account History</h3>
            <p class="mb-2 history-text">Every online spin, wager and tournament. Every detail: Review them here.</p>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-borderless user-table mb-2">
                            <thead>
                                <tr>
                                    <th scope="col">DAT</th>
                                    <th scope="col">REF</th>
                                    <th scope="col">DESCRIPTION</th>
                                    <th scope="col">AMOUNT</th> </tr> </thead>
                            <tbody>
                                <tr *ngFor="let history of accountHistory | paginate: config">
                                    <td>{{ history.date | date: 'MM-dd-yyyy hh:mm:ss z' }}</td>
                                    <td>{{ history.referenceNumber }}</td>
                                    <td>{{ history.description }}</td>
                                    <td>{{ history.amount | number }}</td> </tr> </tbody> </table> </div>
                    <pagination-controls [id]="config.id" (pageChange)="pageChanged($event)" [maxSize]="maxSize" [directionLinks]=
                        "directionLinks" [autoHide]="autoHide" [responsive]="responsive" class="live-pagination" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel=
                        "page" screenReaderCurrentLabel="You're on page"> </pagination-controls> </div> </div> </div> </div>
    <app-credit-cards></app-credit-cards></div>
