module.exports = "
<div class=\ "user-styles pt-3 account-wager-details\">\r\n
    <div class=\ "row\">\r\n
        <div class=\ "col-12 mb-5\">\r\n
            <h3 class=\ "mb-2\">Full Wager Details</h3>\r\n
            <div class=\ "row\">\r\n
                <div class=\ "col-12\">\r\n
                    <table class=\ "table table-borderless table-responsive-sm wager-details-table w-100 mb-2\">\r\n
                        <thead>\r\n
                            <tr>\r\n
                                <th scope=\ "col\">SHAMROCK SPIN</th>\r\n
                                <th scope=\ "col\">0 / 1,600</th>\r\n
                                <th scope=\ "col\">COMPLETED</th>\r\n </tr>\r\n </thead>\r\n
                        <tbody>\r\n
                            <tr>\r\n
                                <td>Wager</td>\r\n
                                <td>Shamrock Spin</td>\r\n
                                <td></td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>Alias</td>\r\n
                                <td>Culi46</td>\r\n
                                <td></td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>Net Win/Loss</td>\r\n
                                <td>-1,600</td>\r\n
                                <td></td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>Start Balance</td>\r\n
                                <td>24,146</td>\r\n
                                <td></td>\r\n </tr>\r\n
                            <tr>\r\n
                                <td>End Balance</td>\r\n
                                <td>22,546</td>\r\n
                                <td></td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n\r\n
                    <div class=\ "back-box mt-4\">\r\n <a href=\ "javascript:void(0)\" routerLinkActive=\ "active\" [routerLink]=\ "['/user/wagers']\">Back...</a>\r\n </div>\r\n\r\n\r\n </div>\r\n </div>\r\n </div>\r\n\r\n </div>\r\n
    <app-credit-cards></app-credit-cards>\r\n </div>\r\n\r\n"