<div class="user-styles pt-3 account-wager-details">
    <div class="row">
        <div class="col-12 mb-5">
            <h3 class="mb-2">Full Wager Details</h3>
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless table-responsive-sm wager-details-table w-100 mb-2">
                        <thead>
                            <tr>
                                <th scope="col">SHAMROCK SPIN</th>
                                <th scope="col">0 / 1,600</th>
                                <th scope="col">COMPLETED</th> </tr> </thead>
                        <tbody>
                            <tr>
                                <td>Wager</td>
                                <td>Shamrock Spin</td>
                                <td></td> </tr>
                            <tr>
                                <td>Alias</td>
                                <td>Culi46</td>
                                <td></td> </tr>
                            <tr>
                                <td>Net Win/Loss</td>
                                <td>-1,600</td>
                                <td></td> </tr>
                            <tr>
                                <td>Start Balance</td>
                                <td>24,146</td>
                                <td></td> </tr>
                            <tr>
                                <td>End Balance</td>
                                <td>22,546</td>
                                <td></td> </tr> </tbody> </table>
                    <div class="back-box mt-4"> <a href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/user/wagers']">Back...</a> </div> </div> </div> </div> </div>
    <app-credit-cards></app-credit-cards> </div>
