module.exports = "
<div class=\ "modal-bg h-100 w-100 game-is-locked\">\r\n
    <div class=\ "modal-wrapper bg-white\">\r\n <button class=\ "close-btn\">X</button>\r\n\r\n
        <!-- modal main -->\r\n
        <div class=\ "modal-main d-flex flex-column justify-content-around\">\r\n
            <h3 class=\ "align-self-top\">GAME IS LOCKED</h3>\r\n\r\n
            <p class=\ "mb-0\">YOU NEED TO LINK YOUR <span class=\ "red-colored\">LIVE! REWARDS CARD </span>TO PLAY\r\n THIS GAME</p>\r\n\r\n <button class=\ "red-modal-btn mb-4\">LINK YOUR LIVE!REWARDS CARD</button>\r\n </div>\r\n </div>\r\n\r\n</div>\r\n "