module.exports = "
<!-- Site Map -->\r\n
<div class=\ "container content-wrapper\">\r\n
    <div class=\ "row site-map\">\r\n
        <div class=\ "col-12\">\r\n
            <h2 class=\ "main-heading\">SITE MAP</h2>\r\n\r\n
            <ul>\r\n
                <li><a [routerLink]=\ "['/']\">Home</a></li>\r\n
                <li><a [routerLink]=\ "['/vip']\">Vip</a></li>\r\n
                <li><a [routerLink]=\ "['/lounge']\">Lounge</a></li>\r\n
                <li><a [routerLink]=\ "['/slots']\">Slots</a></li>\r\n
                <li><a [routerLink]=\ "['/tables']\">Tables</a></li>\r\n
                <!-- <li><a [routerLink]=\"['/tournaments']\">Tournaments</a></li> -->\r\n
                <li><a [routerLink]=\ "['/promotions']\">Promotions</a></li>\r\n
                <li><a [routerLink]=\ "['/contact-us']\">Contact Us</a></li>\r\n
                <!-- <li><a href=\"responsible_gaming.html\">Responsible Gaming</a></li> -->\r\n
                <li><a [routerLink]=\ "['/terms']\">Terms & Conditions</a></li>\r\n
                <li><a [routerLink]=\ "['/faq']\">Help & FAQs</a></li>\r\n
                <li><a [routerLink]=\ "['/user/personalize-account']\">Personalize Account</a></li>\r\n
                <li><a [routerLink]=\ "['/user/account-balance']\">Account Balance</a></li>\r\n
                <li><a [routerLink]=\ "['/user/account-history']\">Account History</a></li>\r\n
                <li><a [routerLink]=\ "['/user/wagers']\">Account Wagers</a></li>\r\n
                <li><a [routerLink]=\ "['/user/reward']\">Live! Rewards Club</a></li>\r\n
                <!-- <li><a [routerLink]=\"['/user/account-messages']\">My Messages</a></li> -->\r\n
                <li><a [routerLink]=\ "['/user/account-marketing']\">Marketing Preferences</a></li>\r\n
                <li><a [routerLink]=\ "['/user/change-password']\">Change Password</a></li>\r\n
                <li><a [routerLink]=\ "['/buy-credits']\">Buy Credits</a></li>\r\n </ul>\r\n </div>\r\n </div>\r\n
    <!-- Credit Cards -->\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n"