<!-- Site Map -->
<div class="container content-wrapper">
  <div class="row site-map">
      <div class="col-12">
          <h2 class="main-heading">SITE MAP</h2>
          <ul>
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [routerLink]="['/vip']">Vip</a></li>
              <li><a [routerLink]="['/lounge']">Lounge</a></li>
              <li><a [routerLink]="['/slots']">Slots</a></li>
              <li><a [routerLink]="['/tables']">Tables</a></li>
              <!-- <li><a [routerLink]="['/tournaments']">Tournaments</a></li> -->
              <li><a [routerLink]="['/promotions']">Promotions</a></li>
              <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
              <!-- <li><a href="responsible_gaming.html">Responsible Gaming</a></li> -->
              <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
              <li><a [routerLink]="['/faq']">Help & FAQs</a></li>
              <li><a [routerLink]="['/user/personalize-account']">Personalize Account</a></li>
              <li><a [routerLink]="['/user/account-balance']">Account Balance</a></li>
              <li><a [routerLink]="['/user/account-history']">Account History</a></li>
              <li><a [routerLink]="['/user/wagers']">Account Wagers</a></li>
              <li><a [routerLink]="['/user/reward']">Live! Rewards Club</a></li>
              <!-- <li><a [routerLink]="['/user/account-messages']">My Messages</a></li> -->
              <li><a [routerLink]="['/user/account-marketing']">Marketing Preferences</a></li>
              <li><a [routerLink]="['/user/change-password']">Change Password</a></li>
              <li><a [routerLink]="['/buy-credits']">Buy Credits</a></li> </ul> </div> </div>
  <!-- Credit Cards -->
  <app-credit-cards></app-credit-cards></div>
