<div class="container content-wrapper">
    <!-- Tournaments / change content adding classes: invite-only, history, help-->
    <div class="row tournaments">
        <div class="col-12">
            <h2 class="main-heading first-heading">WELCOME TO LIVE! <span class="mobile-hide">SOCIAL CASINO</span>
                <span class="tablet-hide">, WHERE WE ARE ALWAYS ON!</span>
            </h2> </div>
        <div class="col-12">
            <h2 class="main-heading">SLOTS TOURNAMENTS</h2>
            <div class="tournaments-menu mx-auto d-flex justify-content-center mt-2 mb-4"> <a class="button tournaments-btn all-btn"  [routerLinkActive]="['active','']" [routerLink]="['/tournaments/all']">ALL</a> <a class="button tournaments-btn invite-only-btn"  [routerLinkActive]=
                    "['active','']" [routerLink]="['/tournaments/invite']"> INVITE ONLY </a> <a class="button tournaments-btn history-btn" [routerLinkActive]="['active','']" [routerLink]="['/tournaments/history']">TOURNAMENT HISTORY</a>
                <a [routerLink]="['/tournaments/help']"  [routerLinkActive]="['active','']" class="button tournaments-btn help-btn"> HELP </a> </div> </div>
        <router-outlet></router-outlet>
        <!-- tournament history -->
        <div class="history-box w-100 col-12">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="mb-0">Tournament history</h4> <a href="javascript:void(0)"><button class="rectangle-btn position-static ">BACK</button></a> </div>
            <div class="table-responsive">
                <table class="table text-left user-table">
                    <thead class="">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NAME</th>
                            <th scope="col">START TIME</th>
                            <th scope="col">END TIME</th>
                            <th scope="col">STATUS</th> </tr> </thead>
                    <tbody>
                        <tr>
                            <!-- no-tournament-history td -->
                            <td colspan="5">There is no tournament history.</td> </tr>
                        <tr>
                            <td>53766</td>
                            <td>Full Moon Diamond Tournament</td>
                            <td>06-20-2019 - 08:18:14 EDT</td>
                            <td> </td>
                            <td><a href="javascript:void(0)">In Play</a></td> </tr>
                        <tr>
                            <td>53766</td>
                            <td><a href="javascript:void(0)">King And Queen Tournament</a></td>
                            <td>06-20-2019 - 08:18:14 EDT</td>
                            <td>06-20-2019 - 08:18:14 EDT</td>
                            <td>Completed</td> </tr>
                        <tr>
                            <td>53766</td>
                            <td><a href="javascript:void(0)">Full Moon Diamond Tournament</a></td>
                            <td>06-20-2019 - 08:18:14 EDT</td>
                            <td>06-20-2019 - 08:18:14 EDT</td>
                            <td>Completed</td> </tr> </tbody> </table> </div>
            <div class="pagination-wrapper"> <span>Page</span>
                <nav aria-label="..." class="d-inline-block ml-5">
                    <ul class="pagination pagination-sm">
                        <li class="page-item disabled"> <span class="page-link">Previous</span> </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item active" aria-current="page"> <span class="page-link">                2                <span class="sr-only">(current)</span> </span> </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item"> <a class="page-link" href="javascript:void(0)">Next</a> </li> </ul> </nav> </div>
            <p class="tournaments-history-text">Tournaments are set to auto-complete once all positions have set a score or 24 hours after the first entry is placed. If not all positions within a tournament have been filled after the 24 hour period then prizes will be paid at
                a percentage of the total prize pot, dependent on the number of entrants.</p> </div>
        <!-- tournaments history - Tournament Played -->
        <div class="history-box w-100 col-12 tournament-played">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="mb-0">King And Queen Tournament (#53948) - History Details</h4> <a href="javascript:void(0)"><button class="rectangle-btn position-static ">BACK</button></a> </div>
            <div class="table-responsive">
                <table class="table text-left user-table">
                    <thead class="">
                        <tr>
                            <th scope="col">POSITION</th>
                            <th scope="col">NAME</th>
                            <th scope="col">SCORE</th>
                            <th scope="col">AMOUNT</th> </tr> </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>2</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>3</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>4</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>5</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>6</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>7</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>8</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>9</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr>
                        <tr>
                            <td>10</td>
                            <td>Some Tournament</td>
                            <td>5,910</td>
                            <td>13,500 Credits</td> </tr> </tbody> </table> </div>
            <div class="mx-auto d-flex flex-column flex-sm-row justify-content-center my-4"> <button class="rectangle-btn btn-play mx-3">PLAY AGAIN</button> <button class="rectangle-btn btn-more mx-3">MORE TOURNAMENTS</button> </div> </div>
        <!-- tournament history Entered Name -->
        <div class="entered-game">
            <div class="col-12 pt-1 pb-3"> <a href="javascript:void(0)"><img class="img-fluid" src="assets/img/Tables_GAME_Rectangle.jpg" alt="Entered Game"></a> </div>
            <div class="entered-game-info col-12 px-3 py-2">
                <h5 class="red-colored mb-3">KING & QUEEN - 27,000 - 10 PLAYERS</h5>
                <div class="d-flex flex-column flex-sm-row text-center text-sm-left justify-content-between">
                    <div>
                        <p>Entry Cost <span class="entry-cost">3,000</span></p>
                        <p>Prize Pool <span class="prize-pool">27,000</span></p> </div>
                    <div class="">
                        <p class="pl-joined">Players Joined: <span class="players-joined">3/10</span></p>
                        <p>TOURNAMENT ID: <span class="tournament-id">54035</span></p> </div> </div> <button class="rectangle-btn btn-play mx-auto d-block">PLAY NOW</button>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0 home-table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">PRIZES</th> </tr> </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1st</th>
                                <td>13,500</td> </tr>
                            <tr>
                                <th scope="row">2st</th>
                                <td>10,125</td> </tr>
                            <tr>
                                <th scope="row">3st</th>
                                <td>3,375</td> </tr> </tbody> </table> </div>
                <p class="about">Tournaments are set to auto-complete once all positions have set a score or 24 hours after the first entry is placed. If not all positions within a tournament have been filled after the 24 hour period then prizes will be paid at
                    a percentage of the total prize pot, dependent on the number of entrants.</p> </div> </div>
        <!-- tournament Entered Game - Played -->
        <div class="entered-game-played col-12 px-3 py-2">
            <div class="d-flex justify-content-between align-items-center mb-0 flex-wrap">
                <h5 class="red-colored mb-0 my-2">KING & QUEEN - 27,000 - 10 PLAYERS</h5>
                <div class="score-n-time d-flex flex-wrap">
                    <div class="game-played-score played-box my-2">Score <span class="gp-score">0,000</span></div>
                    <div class="game-played-time played-box my-2 ml-sm-3">Time <span class="gp-time">24:5</span></div> </div> </div>
            <p class="my-2">TOURNAMENT ID: <span class="tournament-id">54035</span></p>
            <div class="col-12 pt-1 pb-3"> <a href="javascript:void(0)"><img class="img-fluid" src="assets/img/Tables_GAME_Played.jpg" alt="Entered Game"></a> </div> </div> </div>
    <!-- Credit Cards -->
    <app-credit-cards></app-credit-cards></div>
