<div class="container content-wrapper">
    <div class="row vip">
        <div class="col-12">
            <h2 class="main-heading">WELCOME TO LIVE! <span class="mobile-hide">SOCIAL CASINO</span><span class="tablet-hide">, WHERE WE ARE          ALWAYS ON!</span></h2> </div>
        <!-- Vip game big -->
        <div class="vip-game-big col-12 d-flex justify-content-between pt-1 pb-4 position-relative"> <img class="img-fluid"  src="assets/img/VIP_GAME_Sign_Up_Rectangle2.jpg"  alt="VIP_GAME"> <a [routerLink]="['../games/gambling-bug']"  class="button rectangle-btn">PLAY NOW</a> </div>
        <div class=
            "col-12">
            <h2 class="main-heading">VIP</h2>
            <p>Welcome to the Live! Casino VIP Slots. Love China Shores, EZ Baccarat and Total Meltdown slots? Straight from the casino floor we have adapted these games to play online.</p>
            <p>These exclusive slots are only unlocked to our VIP members and you must have $20,000 virtual credits or more to be eligible. You can <a [routerLink]="['/buy-credits']">buy virtual credits</a> online today so you can unlock these
                hot casino slots.</p> </div>
        <!-- Vip game box -->
        <div class="vip-games-box col-12 py-1">
            <div class="row">  <a *ngFor="let game of vipGames"  [routerLink]="['/games/', game.routeLink]"  class="col-6 col-sm-4 col-md-3  vip-star">            <img class="img-fluid"                  [src]="game.image"                 alt="VIP_GAME">          <div class="black-label red-label">{{ game.name }}</div>        </a>
                </div> </div> </div>
    <!-- Credit Cards -->
    <app-credit-cards></app-credit-cards></div>
