module.exports = "
<div class=\ "user-styles pt-3 account-messages\">\r\n
    <div class=\ "row\">\r\n\r\n
        <div class=\ "col-12 mb-4\">\r\n
            <h3 class=\ "mb-2\">My Messages</h3>\r\n\r\n
            <!-- Class \"messages-content\" for display messages if there are some -->\r\n
            <div class=\ "row messages-content\">\r\n
                <div class=\ "col-12\">\r\n\r\n
                    <div class=\ "row\">\r\n
                        <div class=\ "col-12\">\r\n
                            <div class=\ "table-responsive\">\r\n
                                <table class=\ "table table-borderless messages-table mb-2\">\r\n
                                    <thead>\r\n
                                        <tr>\r\n
                                            <th scope=\ "col\">DATE</th>\r\n
                                            <th scope=\ "col\">SUBJECT</th>\r\n
                                            <th scope=\ "col\"></th>\r\n </tr>\r\n </thead>\r\n
                                    <tbody>\r\n
                                        <tr *ngFor=\ "let message of messages | paginate:config\">\r\n
                                            <td>{{ message.date | date: 'MM-dd-yyyy hh:mm:ss z' }}</td>\r\n
                                            <td [routerLink]=\ "['/user/message-details']\">{{ message.subject }}</td>\r\n
                                            <td class=\ "remove-msg\" (click)=\ "removeMessage(message)\"></td>\r\n </tr>\r\n </tbody>\r\n </table>\r\n </div>\r\n
                            <pagination-controls\r\n [id]=\ "config.id\"\r\n (pageChange)=\ "pageChanged($event)\"\r\n [maxSize]=\ "maxSize\"\r\n [directionLinks]=\
                                "directionLinks\"\r\n [autoHide]=\ "autoHide\"\r\n [responsive]=\ "responsive\"\r\n class=\ "live-pagination\"\r\n previousLabel=\ "Previous\"\r\n nextLabel=\ "Next\"\r\n screenReaderPaginationLabel=\ "Pagination\"\r\n screenReaderPageLabel=\
                                "page\"\r\n screenReaderCurrentLabel=\ "You're on page\">\r\n </pagination-controls>\r\n </div>\r\n </div>\r\n </div>\r\n </div>\r\n </div>\r\n
        <!-- Class \"no-messages\" for no messages to display -->\r\n
        <div class=\ "no-messages col-12 mb-5\">\r\n
            <div>NO MESSAGES TO DISPLAY</div>\r\n </div>\r\n </div>\r\n
    <app-credit-cards></app-credit-cards>\r\n </div>\r\n\r\n"