module.exports = "
<div class="user-styles pt-3 account-messages">
    <div class="row">
        <div class="col-12 mb-4">
            <h3 class="mb-2">My Messages</h3>
            <!-- Class "messages-content" for display messages if there are some -->
            <div class="row messages-content">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-borderless messages-table mb-2">
                                    <thead>
                                        <tr>
                                            <th scope="col">DATE</th>
                                            <th scope="col">SUBJECT</th>
                                            <th scope="col"></th> </tr> </thead>
                                    <tbody>
                                        <tr *ngFor="let message of messages | paginate:config">
                                            <td>{{ message.date | date: 'MM-dd-yyyy hh:mm:ss z' }}</td>
                                            <td [routerLink]="['/user/message-details']">{{ message.subject }}</td>
                                            <td class="remove-msg" (click)="removeMessage(message)"></td> </tr> </tbody> </table> </div>
                            <pagination-controls [id]="config.id" (pageChange)="pageChanged($event)" [maxSize]="maxSize" [directionLinks]=
                                "directionLinks" [autoHide]="autoHide" [responsive]="responsive" class="live-pagination" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel=
                                "page" screenReaderCurrentLabel="You're on page"> </pagination-controls> </div> </div> </div> </div> </div>
        <!-- Class "no-messages" for no messages to display -->
        <div class="no-messages col-12 mb-5">
            <div>NO MESSAGES TO DISPLAY</div> </div> </div>
    <app-credit-cards></app-credit-cards> </div>
