<div class="user-styles pt-5 rewards">
    <div class="row">
        <div class="col-12 d-flex flex-column flex-md-row mb-0 mb-md-5">
            <div class="d-flex flex-column justify-content-between ">
                <h3 class="mb-4">Live Rewards Card</h3>
                <div class="red-colored pb-3">Fields marked with a red asterisk ( * ) are mandatory</div> </div>
            <div class="ml-md-auto receive-points">
                <div class="receive-content"> RECEIVE UP TO 15,000 LIVE! REWARDS CARD POINTS EACH WEEK </div> </div> </div>
        <div class="col-12">
            <div class="account-form d-md-flex my-5">
                <form [formGroup]="liveRewardsForm" #formDir="ngForm" (ngSubmit)="onLinkAccount()" class="form-inline col-12 col-md-7 px-0"> <label for="title" class="d-block text-right">LIVE REWARDS CARD ID <span class="red-colored ml-0 mr-2"> *</span></label> <input type="text" formControlName="cardId" class="form-control" id="title">
                    <div
                        class="add-info" *ngIf="cardId.invalid && (cardId.dirty || cardId.touched)">
                        <div *ngIf="cardId.errors.required">This field is reqiured</div>
                        <div *ngIf="cardId.errors.minlength">The minimum length is 3 characters</div>
                        <div *ngIf="cardId.errors.pattern">This field must contain numbers only</div> </div> <label for="last-name" class="d-block text-right">LAST NAME <span class="red-colored ml-0 mr-2">                    *</span></label> <input type=
                "text" formControlName="lastName" class="form-control" id="last-name">
            <div class="add-info" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                <div *ngIf="lastName.errors.required">This field is reqiured</div>
                <div *ngIf="lastName.errors.minlength">Please enter only alphabetic characters</div> </div>
            <app-date-picker [parentForm]="liveRewardsForm"></app-date-picker> <button [disabled]="liveRewardsForm.invalid" type="submit" class="user-btn my-5">LINK ACCOUNT</button> </form>
            <!-- PLACE FOR USER-NEED-HELP -->
            <app-user-need-help></app-user-need-help> </div> </div> </div>
<app-credit-cards></app-credit-cards> </div>
