
<div class="winners h-100">
    <h2 class="main-heading mb-2">LATEST WINNERS</h2>
    <ul class="winners d-flex flex-column justify-content-between mb-0">
        <li class="d-flex justify-content-between" *ngFor="let winner of this.latestWinners; let i = index">
            <div class="winner">
                <div class="winner-name">{{ winner.name }}</div>
                <div class="winner-nickname">{{ winner.game }}</div> </div>
            <div class="cash-prizes">{{ winner.cashPrizes | number}}</div> </li> </ul></div>
