
<div class="container content-wrapper">
    <div class="row tables">
        <div class="col-12">
            <h2 class="main-heading">WELCOME TO LIVE! <span class="mobile-hide">SOCIAL CASINO</span><span class="tablet-hide">, WHERE WE ARE          ALWAYS ON!</span></h2> </div>
        <!-- Tables game big -->
        <div class="tables-game-big col-12 d-flex justify-content-between pt-1 pb-4"> <img class="img-fluid" src="assets/img/Tables_GAME_Rectangle4.jpg" alt="VIP_GAME">  </div>
        <div class="col-12">
            <h2 class="main-heading">TABLES</h2>
            <p>Love to play Roulette or Blackjack at the casino? Then why not try Live! Casino table games where you can experience casino games online for free.</p> </div>
        <!-- Tables game box -->
        <div class="tables-games-box col-12 py-1">
            <div class="row"> <a *ngFor="let table of tables" [routerLink]="['/games/', table.routeLink]" class="col-6 col-sm-4 col-md-3 single-table">        <img class="img-fluid"              [src]="table.image" alt="VIP_GAME">          <div class="black-label red-label">{{ table.name }}</div>        </a>
                </div> </div> </div>
    <!-- Credit Cards -->
    <app-credit-cards></app-credit-cards></div>
