<form [formGroup]="personalizeForm" #formDir="ngForm" (ngSubmit)="onPersonalDetails()" class="form-inline"> <label for="title" class="d-block text-right">TITLE <span class="red-colored ml-0 mr-2"> *</span></label> <select formControlName="title" class="form-control" id="title">          <option value="">Please select Title</option>          <option *ngFor="let t of titleEnums" [value]="t.value" [selected]="t.value == title.value">{{t.value}}</option>        </select>
    <div class="add-info" *ngIf="title.invalid && (title.dirty || title.touched)">
        <div>This field is reqiured</div> </div> <label for="first-name" class="d-block text-right">FIRST NAME <span class="red-colored ml-0 mr-2">            *</span></label> <input type="text" formControlName="firstName" class=
        "form-control" id="first-name">
    <div class="add-info" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors.required">This field is reqiured</div>
        <div *ngIf="firstName.errors.minlength">Please enter only alphabetic characters</div> </div> <label for="last-name" class="d-block text-right">LAST NAME <span class="red-colored ml-0 mr-2">            *</span></label> <input type="text" formControlName=
        "lastName" class="form-control" id="last-name">
    <div class="add-info" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <div *ngIf="lastName.errors.required">This field is reqiured</div>
        <div *ngIf="lastName.errors.minlength">Please enter only alphabetic characters</div> </div>
    <app-date-picker [parentForm]="personalizeForm"></app-date-picker> <button [disabled]="personalizeForm.invalid" type="submit" class="user-btn mt-5 mb-sm-5 mb-md-0">NEXT</button> </form>"
