
<!-- Navigation menu -->
<div class="main-menu mb-0">
    <nav class="navbar navbar-expand-md">
        <ul class="navbar-nav w-100 justify-content-around">
            <li class="nav-item"><a class="nav-link" href="#">HOME</a></li>
            <li class="nav-item"><a class="nav-link" href="vip.html"><img class="star"                                                                          src="./img/star.png" alt="star">VIP</a></li>
            <li class="nav-item"><a class="nav-link" href="lounge.html">LOUNGE</a></li>
            <li class="nav-item"><a class="nav-link" href="slots.html">SLOTS</a></li>
            <li class="nav-item"><a class="nav-link" href="tables.html">TABLES</a></li>
            <li class="nav-item"><a class="nav-link" href="tournaments.html">TOURNAMENTS</a></li>
            <li class="nav-item"><a class="nav-link" href="promotions.html">PROMOTIONS</a></li> </ul> </nav></div>
