<div class="modal-bg w-100 message-modal">
    <div class="modal-wrapper bg-white d-table">
        <!-- modal main -->
        <div class="modal-main d-flex flex-column justify-content-around px-5 pb-4 pt-3">
            <h3 class="text-center align-self-top red-colored mb-0">ALERT!</h3>
            <p class="my-4">Are you sure you want to delete this message?</p>
            <div class="btn-box d-flex justify-content-between justify-content-sm-around"> <button class="red-modal-btn" (click)="confirm()">YES</button> <button class="red-modal-btn" (click)="cancel()">NO</button> </div> </div> </div></div>
