module.exports = "
<!-- Help & FAQs -->\r\n
<div class=\ "container content-wrapper\">\r\n
    <div class=\ "row help-faq\">\r\n
        <div class=\ "col-12\">\r\n
            <h2 class=\ "main-heading\">SITE MAP</h2>\r\n
            <p>If you are looking for help on Live! Casino, please look through the below Frequently Asked\r\n Questions. Should you have any queries that are not covered below, you can contact our friendly\r\n Customer Services Team at: support@livecasino.social</p>\r\n
            <ul class=\ "faq-list\">\r\n
                <li><a href=\ "#faq1\">How do I Sign Up?</a></li>\r\n
                <li><a href=\ "#faq2\">Is it free to join?</a></li>\r\n
                <li><a href=\ "#faq3\">What are the 2 different ways to sign up? How are they different?</a></li>\r\n
                <li><a href=\ "#faq4\">What are Virtual Credits?</a></li>\r\n
                <li><a href=\ "#faq5\">How do I get more Virtual Credits?</a></li>\r\n
                <li><a href=\ "#faq6\">Can I exchange or redeem my Virtual Credits?</a></li>\r\n
                <li><a href=\ "#faq7\">What type of games can I play?</a></li>\r\n
                <li><a href=\ "#faq8\">How do I play the VIP games?</a></li>\r\n
                <li><a href=\ "#faq9\">What browsers does this website support?</a></li>\r\n
                <li><a href=\ "#faq10\">Can I play on a mobile phone or tablet?</a></li>\r\n
                <li><a href=\ "#faq11\"> What if I have lost my password?</a></li>\r\n
                <li><a href=\ "#faq12\">What is a leader board?</a></li>\r\n
                <li><a href=\ "#faq13\">What are XP points and how are they calculated?</a></li>\r\n </ul>\r\n\r\n\r\n\r\n\r\n
            <h4 class=\ "pt-3\" id=\ "faq1\">How do I Sign Up?</h4>\r\n\r\n
            <p>It is easy to sign up to Live! Casino, simply visit the registration page and enter your\r\n details. Please note: You must be 21 years or older and be a resident of the United States of\r\n America to be a member of Live! Casino.</p>\r\n\r\n
            <p> When entering a password for your account, for security reasons we require a minimum of 6\r\n characters that must include:</p>\r\n\r\n
            <ul>\r\n
                <li>One Number</li>\r\n
                <li>One Letter</li>\r\n </ul>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n\r\n
            <h4 class=\ "pt-3\" id=\ "faq2\">Is it free to join?</h4>\r\n\r\n
            <p>Yes. Sign up is absolutely free. Every new player is welcomed with free Virtual Credits to play\r\n with. You can use your Virtual Credits to play the Live! Casino games. If you run out of Virtual\r\n Credits don’t worry, if you log back in
                to your account each day, you will automatically get\r\n free Virtual Credits added to your account.</p>\r\n\r\n
            <p>If you can't wait 24 hours or would like to add to your Virtual Credits, you can continue to buy\r\n credit packages here.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq3\">What are the 2 different ways to sign up? How are they different?</h4>\r\n\r\n
            <p>We have two different ways to sign up for Live! Casino: Full and Quick Sign Up.\r\n Our Full Sign Up is for those who are not Live! Casino, just answer some simple questions and\r\n soon you will be on your way to play.</p>\r\n\r\n
            <p>Our Quick Sign Up is for those who are short on time, but want the full Live! Casino experience.\r\n All you need to do is enter your email and create a unique username and password.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\
                "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq4\">What are Virtual Credits?</h4>\r\n\r\n
            <p>Every Live! Casino player has an account which contains Virtual Credits. These Virtual Credits\r\n appear as dollars ($) and are used to play the games in the Live! Casino.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq5\">How do I get more Virtual Credits?</h4>\r\n\r\n
            <p>If you have run out or want to purchase more Virtual Credits you can use your credit card or\r\n debit card to purchase more. All major credit cards are accepted.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq6\">Can I exchange or redeem my Virtual Credits? </h4>\r\n\r\n
            <p>No. Virtual Credits cannot be redeemed or exchanged for money or money's worth at any time.\r\n Virtual Credits are used to play the games in the Live! Casino for entertainment value only.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\
                "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq7\">What type of games can I play?</h4>\r\n\r\n
            <p>You can enjoy a wide range of Slot Games, Table Games, Video Poker, multiplayer Poker, Keno and\r\n other exciting games. More games are being added frequently, so make sure you come back to check\r\n out our new game releases.</p>\r\n\r\n
            <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq8\">How do I play the VIP games? </h4>\r\n\r\n
            <p>All games marked with a VIP star require at least $20,000 in Virtual Credits in your Online\r\n Casino account to play. You can accumulate enough Virtual Credits playing non-VIP games or\r\n purchase Virtual Credits here to become a VIP and
                play in the VIP area of the Online Casino.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq9\">What browsers does this website support?</h4>\r\n\r\n
            <p>This site supports the following web browsers:</p>\r\n\r\n <span>Windows</span>\r\n
            <ul>\r\n
                <li>Microsoft® Internet Explorer 9, 10 and 11</li>\r\n
                <li>Google Chrome (most recent stable version)</li>\r\n
                <li>Mozilla Firefox (most recent stable version)</li>\r\n </ul>\r\n\r\n <span>Mac</span>\r\n
            <ul>\r\n
                <li>Safari® versions 5.x, 6.x and 7.x</li>\r\n
                <li>Google Chrome (most recent stable version)</li>\r\n
                <li>Mozilla Firefox (most recent stable version)</li>\r\n </ul>\r\n\r\n
            <p>If using another browser with this site you may experience reduced functionality of poor\r\n performance due to the limitations of that browser. We recommend using the site with the latest\r\n version of Google Chrome Browser or Mozilla Firefox
                web browser.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq10\">Can I play on a mobile phone or tablet?</h4>\r\n\r\n
            <p>Yes. You can visit Live! Casino using a smart phone or a tablet. Download your choice of mobile\r\n gaming App from the Google Play Store (for Android devices) or from the Apple iTunes App Store\r\n (for iPads & iPhones).</p>\r\n\r\n <a href=\
                "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq11\">What if I have lost my password?</h4>\r\n\r\n
            <p>Don’t worry. If you can't remember your password you can click here. If you do not receive an\r\n email to reset your password, be sure to check your spam folder.</p>\r\n\r\n
            <p>If you are still experiencing difficulties, you can contact one of our friendly Customer\r\n Services Team at support@livecasino.social</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\"
                id=\ "faq12\">What is a leader board? </h4>\r\n\r\n
            <p>Our leader board keeps track of our players with the highest winnings. We have four leader\r\n boards showing the top winners for the day, week, table games and VIP players. The top players\r\n receive extra credits depending on their rank.</p>\r\n\r\n
            <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n
            <h4 class=\ "pt-3\" id=\ "faq13\">What are XP points and how are they calculated?</h4>\r\n\r\n
            <p>XP points, Experience Points to give them their full name, are earned by players for staking on\r\n all slot games on the site. The more players stake the faster they earn XP points and the faster\r\n they move up the XP Levels. For moving
                up each level the players will be awarded bonus virtual\r\n credits with the value getting progressively larger the higher the level attained. Players can\r\n also earn XP points for every game they play, so playing all the games on the
                site will earn the\r\n player more XP points.</p>\r\n\r\n <a href=\ "javascript:void(0)\" class=\ "d-block\">Back to top</a>\r\n\r\n </div>\r\n\r\n\r\n</div>\r\n
    <!-- Credit Cards -->\r\n
    <app-credit-cards></app-credit-cards>\r\n</div>\r\n"